//PRIMARY COLORS
$soft-cyan: #a5f3eb
$strong-cyan: #10d5c2
$light-grayish-red: #feece7
$light-red: #ff8c66
$pale-blue: #bdccff

//NEUTRAL COLORS
$white: #ffffff
$very-pale-blue: #fafbff
$light-gray: #eaeefb
$whiteish-blue: #cdd7ee
$grayish-blue: #858fad
$deep-dark-blue: #293356

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

body
  font-size: 15px
  font-family: 'Manrope', sans-serif //600 800
  text-align: center
  padding: 60px

main
  display: grid
  place-items: center
  height: 100vh

.tittle
  color: red

